{% for file_obj in files %}
{% if file_obj.file_type == "css"%}
<link rel="stylesheet" href="{{file_obj.path}}"{% if file_obj.integrity %} integrity="{{file_obj.integrity}}"{% endif %}{% if file_obj.crossorigin %} crossorigin="{{file_obj.crossorigin}}"{% endif %}/>
{% elif file_obj.file_type == "js"%}
<script src="{{file_obj.path}}"{% if file_obj.integrity %} integrity="{{file_obj.integrity}}"{% endif %}{% if file_obj.crossorigin  %} crossorigin="{{file_obj.crossorigin}}"{% endif %}></script>
{% endif %} {% endfor %}
